.App {
  text-align: center;
  width: 100vw;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.horizontal-card {
  display: inline;
}

.time-search {
  width: 30ch;
}

.main {
  width: 100%;
  padding: 2%;
}

.box {
  border: black solid 1px;
}

.juust-post {
  width: 100%;
  display: grid;
  grid-template-columns: 2% 48% 48% 2%;
  grid-template-rows: 2% 96% 2%;
  grid-template-areas: 
    ". . . ."
    ". juust-main juust-reply ."
    ". . . .";
  margin-top: 5vh;
  border-top: 1px solid black;
}

.juust-main {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.juust-replies {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  max-height: 100%;
  overflow-y: auto;
}

.juust-pic > img {
  width: 100%;
}

.juust-replies
.juust-reply,
.juust-subreply {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.juust-reply-main {
  padding-top: 5%;
  padding-left: 5%;
  font-weight: bold;
}

.juust-reply-content {
  padding-left: 10%;
}

.juust-subreply{
  padding-left: 10%;
}

.juust-search-bar {
  padding: 3%;
  justify-content: center;
}

.center-button {
  transform: translateY(25%);
}

.extra-top-margin {
  margin-top: 5%;
}

.extra-bottom-margin {
  margin-bottom: 5%;
}

.juust-name {
  font-weight: bold;
}